spring:
  config:
    import: optional:file:.env.local[.properties]

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/khutir_craft}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}

  jpa:
    properties:
      hibernate:
        show-sql: true
        format_sql: true

  flyway:
    locations: classpath:db/migration,classpath:db/seed,classpath:db/seed/local
    placeholders:
      email: ${ADMIN_EMAIL:admin@example.com}
      password: ${ADMIN_PASSWORD:admin}
      enabled: ${ADMIN_ENABLED:true}
      confirmed: ${ADMIN_CONFIRMED:true}


  mail:
    host: localhost
    port: 1025
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

jwt:
  secret: ${JWT_SECRET:dummy-secret-phrase}
  session-timeout: ${JWT_SESSION_TIMEOUT:600}

logging:
  level:
    root: INFO
    com.khutircraftubackend: DEBUG
  file:
    name: logs/latest.log

storage:
  local:
    base-path: ${LOCAL_STORAGE_BASEPATH:./uploads}