spring:
  application:
    name: ${SPRING_APPLICATION_NAME:@artifactId@}

  config:
    import: optional:file:.env[.properties]

  profiles:
    default: local

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    placeholders:
      enabled: ${FLYWAY_ENABLED:false}
    baseline-on-migrate: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 5MB

cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

jwt:
  secret: ${JWT_SECRET}
  session-timeout: ${JWT_SESSION_TIMEOUT:600000}

logging:
  level:
    root: WARN
    org.springframework.boot.autoconfigure.web.servlet.error: ERROR
    org.springframework.web.filter: ERROR
    org.springframework.web.servlet.mvc.method.annotation: ERROR
    com.khutircraftubackend: INFO
  file:
    name: logs/latest.log

management:
  endpoints:
    web:
      exposure:
        include: "info, loggers, health, auditevents, logfile, metrics, sessions"
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true

server:
  port: 8080
  error:
    include-message: ALWAYS
    include-stacktrace: NEVER
    include-binding-errors: ON_PARAM
    whitelabel:
      enabled: true

springdoc:
  override-with-generic-response: false

allowed:
  mime:
    types: image/jpeg,image/jpg,image/png,image/webp