name: FoodMarket CI

on:
  pull_request:
    types: ['synchronize', 'opened', 'reopened', 'edited', 'ready_for_review']
    branches: ['main']
    paths-ignore: ['.gitignore', '*.md']

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ci
    # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/deploy-to-environment
    # https://docs.github.com/en/actions/how-tos/deploy/configure-and-manage-deployments/manage-environments#creating-an-environment

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: khutir_craft
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/khutir_craft
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

    steps:
      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do
            echo "Waiting for PostgreSQL to be ready..."
            sleep 1
          done

      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          architecture: x64
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean install

      - name: Finalize Build
        run: echo "Build and tests completed successfully!"
